SECRET_KEY =

DB_USER =
DB_PASSWORD =
DB_HOST =
DB_PORT =

STRIPE_SECRET_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_BOT_TOKEN=
TELEGRAM_API_URL=